{% extends 'mainpage/header_footer.html' %}
{% block content %}

{% load static %}
<script src={% static 'tasklist/upd.js'%}></script>

{% comment %}
Создать директорию static/tasklist
положить туда картинку logo.png
Можно положить также файл css
{% endcomment %}
<h1>Список задач на {{kogda}}</h1>
{% comment %}
ПОДСТАНОВКА БУДЕТ ОБРАБОТАНА ЦИКЛОМ
{% endcomment %}
{% csrf_token %}
<ol id="all_tasks">
{% for t in tasks %}
    <li>{{t.description}} {{t.deadline}}</li>
{% endfor %}
</ol>

{% endblock %}