body {
    background-color: lightblue;
}

header {
    border: 2px dotted rgb(20, 103, 106);
    border-radius: 15px;
    text-align: center;
}

footer {
    border: 2px dotted rgb(20, 103, 106);
    border-radius: 15px;
    text-align: right;
    
    position:absolute;
    bottom: 0px;
    width: 95vw;
    padding: 6px;
}

#todologo {
    height: 128px
}